In [1]:
import pandas as pd


group = 'race'

# file_path_df = r'../results/processed_data/3_1_calculated_ressults/3_1_calculated_results_v6_{group}_lmem.csv'
file_path_df = r'/home/hbt/jchr_data/jchr_racial_diff/results/processed_data/3_1_calculated_ressults/3_1_calculated_results_v6_race_lmem.csv'
df = pd.read_csv(file_path_df)
df.drop(columns = 'Unnamed: 0', axis=1, inplace = True)

# path_train = rf'../results/processed_data/3_1_calculated_results/train_size_{group}.csv'
path_train = r'/home/hbt/jchr_data/jchr_racial_diff/results/processed_data/3_1_calculated_ressults/train_size_race.csv'
df_train = pd.read_csv(path_train)
df_train.drop(columns = 'Unnamed: 0', axis=1, inplace = True)
df_train

      PtID  ratio  PtId_test ptid_group  train_size_single_tl  train_size_base
0      179    100        179      white                  2925           537599
1       45    100         45      white                  5054           535094
2       88    100         88      white                  4511           535733
3      202    100        202      white                  4307           535973
4      139    100        139      black                  3124           535232
...    ...    ...        ...        ...                   ...              ...
2250   175      0        175      white                  3645           492276
2251    13      0         13      white                  2823           493281
2252   150      0        150      black                  2588           496015
2253    82      0         82      black                  4613           493058
2254   100      0        100      white                  2038           490622

[2255 rows x 6 columns]

In [2]:
df

,PtID,ratio,ptid_test,ptid_group,rmse_naive,rmse_single,rmse_base,rmse_tl,ageAtEnroll,AgeGroup,Gender,Race
0,172,100,172,black,1.927027,2.043796,1.629843,1.631561,34,2,F,black
1,158,0,158,black,3.063354,3.747017,2.263687,2.284283,21,2,F,black
2,59,100,59,white,1.901273,1.919963,1.618053,1.639034,27,2,F,white
3,79,10,79,black,1.310273,1.473037,1.170468,1.165142,14,1,F,black
4,210,70,210,black,1.932668,2.052116,1.654491,1.656142,56,2,F,black
...,...,...,...,...,...,...,...,...,...,...,...,...
2250,52,60,52,black,2.329977,2.156117,1.842846,1.841241,18,2,M,black
2251,107,10,107,white,3.030162,2.706879,2.442499,2.387954,15,1,M,white
2252,130,100,130,black,1.704810,1.806231,1.470211,1.470795,47,2,M,black
2253,105,90,105,white,1.740725,1.503663,1.360812,1.358774,70,2,M,white
2254,11,40,11,black,2.060796,1.925750,1.758595,1.757044,62,2,M,black

In [3]:
import pandas as pd

# Merge df with df_train only once, including the relevant columns
df_merge = df.merge(df_train[['PtID','ratio', 'train_size_base', 'train_size_single_tl']], on=['PtID', 'ratio'])

# Display the merged dataframe
df_merge

,PtID,ratio,ptid_test,ptid_group,rmse_naive,rmse_single,rmse_base,rmse_tl,ageAtEnroll,AgeGroup,Gender,Race,train_size_base,train_size_single_tl
0,172,100,172,black,1.927027,2.043796,1.629843,1.631561,34,2,F,black,536752,4902
1,158,0,158,black,3.063354,3.747017,2.263687,2.284283,21,2,F,black,495537,3121
2,59,100,59,white,1.901273,1.919963,1.618053,1.639034,27,2,F,white,536828,3581
3,79,10,79,black,1.310273,1.473037,1.170468,1.165142,14,1,F,black,499783,5416
4,210,70,210,black,1.932668,2.052116,1.654491,1.656142,56,2,F,black,501136,4026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,52,60,52,black,2.329977,2.156117,1.842846,1.841241,18,2,M,black,501469,5247
2251,107,10,107,white,3.030162,2.706879,2.442499,2.387954,15,1,M,white,497420,5299
2252,130,100,130,black,1.704810,1.806231,1.470211,1.470795,47,2,M,black,534984,4222
2253,105,90,105,white,1.740725,1.503663,1.360812,1.358774,70,2,M,white,533118,6217
2254,11,40,11,black,2.060796,1.925750,1.758595,1.757044,62,2,M,black,518535,5251

In [4]:
# import pandas as pd

# # Assuming df and df_train are already defined as shown in the image

# # Make sure the 'ratio' column exists in both dataframes
# if 'ratio' in df.columns and 'ratio' in df_train.columns:
#     # Perform the merge
#     df_merge = df.merge(df_train[['PtID', 'ratio', 'train_size_base', 'train_size_single_tl']], on=['PtID', 'ratio'])
#     # Display the merged dataframe
#     (df_merge)
# else:
#     raise KeyError("One of the dataframes does not contain the 'ratio' column.")

In [5]:
path_save = rf'/home/hbt/jchr_data/jchr_racial_diff/results/processed_data/3_1_calculated_ressults/3_1_calculated_results_v6_race_lmem_v2.csv'
df_merge.to_csv(path_save)